#header {
  background-color: #ff4f81;
  color: white;
}
/* HEDADER */

.header-left i {
  margin-right: 2px;
}
.header-right i {
  font-size: 14px;
  text-align: right;
  padding: 8px 10px;
  border: 1px solid transparent;
  background-color: #333333;
  margin-left: 2px;
  transition: all 0.5s;
}
.header-right i:hover {
  background-color: #ff4f81;
  border-color: white;
}
.navbar-brand--logo p {
  color: #ff4f81;
  font-size: 0.8em;
  margin-top: -5px;
}
.navbar-nav--menu {
  margin-top: -30px;
}
.navbar-nav--menu .nav-item .nav-link {
  font-weight: bold;
  color: #282828;
  transition: all 0.5s;
}
.navbar-nav--menu .nav-item {
  margin-left: 20px;
}
.navbar-nav--menu .nav-item:hover > .nav-link {
  color: #ff4f81;
}
.nav-item__line {
  width: 0;
  height: 2px;
  background-color: #ff4f81;
  transition: all 0.5s;
}
.navbar-nav--menu .nav-item:hover .nav-item__line {
  width: 100%;
}
.navbar-nav--menu .active .nav-link {
  color: #ff4f81 !important;
}
.navbar-nav--menu .active .nav-item__line {
  width: 100%;
}

/* CAPTION */
.carousel-caption--config {
  bottom: 30%;
}
.carousel-caption--config h1 {
  font-weight: normal;
  font-size: 3.3em;
}
.carousel-caption--config p {
  font-size: 1.1em;
  letter-spacing: 4px;
  line-height: 1.8em;
}
.carousel-indicators--config {
  bottom: 20%;
}
.btn--readmore {
  border-radius: 0;
  margin-top: 10px;
  transition: all 0.5s;
}

.btn--readmore:hover {
  color: white;
  background-color: #ff4f81;
}

.modal-header--carousel {
  color: #ff4f81;
}

.education-course i {
  font-size: 30px;
}
.education-course h2 {
  color: #ff4f81;
  font-weight: 600;
  margin: 15px 0;
}
.education-course h3 {
  font-size: 1em;
  font-weight: bold;
}
.education-course p {
  color: #999;
  font-size: 15px;
  line-height: 1.8em;
  margin: 10px 0 0;
}

/* WELCOM TO EDUCATION */
.welcome-section {
  padding: 3rem 15px;
}

.welcome-title h1 {
  color: #ff4f81;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.welcome-title span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  color: black;
}
.welcome-title__line {
  width: 70px;
  height: 2px;
  background-color: black;
}
.welcome-title p {
  font-size: 15px;
  color: #999;
  line-height: 1.8em;
  padding: 0 10%;
}

/* OUR STARTS */
.start-section {
  min-height: 400px;
  background-image: url("../images/banner2.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 15px;
}

.start-title h1 {
  text-align: center;
  color: #ff4f81;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
}
.start-title span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  color: white;
}
.start-detail {
  color: white;
  text-align: center;
}
.start-detail i {
  font-size: 40px;
}
.start-detail h2 {
  font-size: 25px;
  color: #ff4f81;
  margin-top: 25px;
}
.start-detail p {
  font-size: 45px;
}

/* WHAT WE OFFER */

.offer-section {
  padding: 3rem 15px;
}

.offer-title h1 {
  color: #ff4f81;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.offer-title span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  color: black;
}
.offer-title__line {
  width: 70px;
  height: 2px;
  background-color: black;
}

.offer-item i {
  font-size: 40px;
  color: #ff4f81;
}

.offer-item {
  -webkit-box-shadow: 0px 0px 2px 1px #aaa;
  -moz-box-shadow: 0px 0px 2px 1px #aaa;
  -o-box-shadow: 0px 0px 2px 1px #aaa;
  box-shadow: 0px 0px 2px 1px #aaa;
  padding: 2rem 1rem;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.offer-item:hover {
  background-color: #12ccc3;
}

.offer-item h3 {
  font-size: 20px;
  color: #212121;
  margin: 20px 0;
}

.offer-item p {
  font-size: 14px;
  color: #2b2b2b;
}

/* TESTIMONIALS */
.testimonials-section {
  background-image: url("../images/banner3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 4rem 15px;
}

.testimonials-title h1 {
  color: #ff4f81;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.testimonials-title span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  color: white;
}
.testimonials-title__line {
  width: 70px;
  height: 2px;
  background-color: black;
}
.testimonials-slider {
  height: 300px;
  background-color: rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 2px 1px #8e8e8e;
  -moz-box-shadow: 0px 0px 2px 1px #8e8e8e;
  -o-box-shadow: 0px 0px 2px 1px #8e8e8e;
  box-shadow: 0px 0px 2px 1px #8e8e8e;
  padding: 30px;
}

.item__box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
}
.item__box::after {
  content: "";
  border-top: 9px solid rgba(0, 0, 0, 0.7);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  bottom: -9px;
  left: 27%;
}

.item__user {
  margin-left: 27%;
  color: white;
  margin-bottom: 20px;
}

.owl-carousel .item__user img {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 10px;
}

.item__user p {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: bold;
}

.item__user span {
  color: #ff4f81;
  font-size: 0.8em;
}

.owl-theme--pink .owl-dots .owl-dot span {
  background-color: #ff4f81;
  opacity: 0.5;
}

.owl-theme--pink .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff4f81;
  opacity: 1;
}

/* EVENT & NEWS */

.event-section {
  padding: 3rem 15px;
}

.event-title h1 {
  color: #ff4f81;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.event-title span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  color: black;
}
.event-title__line {
  width: 70px;
  height: 2px;
  background-color: black;
}

.event-img img {
  border: solid #dedede;
}

.event-info h3 {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

.event-info span {
  font-size: 1em;
  font-weight: bold;
  color: #ff4f81;
}

.event-info p {
  color: #999;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.event-section__spacing {
  height: 4rem;
  width: 100%;
}

/* FOOTER */
.footer-detail {
  background-color: #141415;
  padding: 3rem 15px;
}
.footer-detail h2 {
  color: #ff4f81;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-detail p {
  color: #8b8b96;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__news p i {
  color: #ff4f81;
  margin-right: 10px;
}

.footer__contact i {
  border: 1px solid #4b4b50;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.footer__contact p span{
  margin-left: 10px;
}

.footer__form h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.footer__form input {
  height: 40px;
  width: 70%;
}

.btn-footer--submit {
  background-color: #ff4f81;
  border-radius: 0;
  height: 40px;
  width: 25%;
  margin-top: -3px;
}

.btn-footer--submit:hover {
  background-color: #ff1b5b;
  cursor: pointer;
}

.copy-right {
  background-color: black;
}

.copy-right span {
  color: #ff4f81;
}





/* MEDIA QUERY */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-brand--logo h1 {
    font-size: 30px;
  }
  .navbar-nav--menu .nav-item .nav-link {
    font-size: 0.9em;
  }
  .navbar-nav--menu .nav-item {
    margin-left: 10px;
  }

  .footer__form h2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 769px) and (max-width: 834px) {
  .carousel-caption--config h1 {
    font-weight: normal;
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption--config {
    bottom: 20%;
  }
  .carousel-caption--config h1 {
    font-weight: normal;
    font-size: 2.2em;
  }
  .carousel-caption--config p {
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.8em;
    margin-bottom: 10%;
  }
  .carousel-indicators--config {
    bottom: 0;
  }
  .btn--readmore {
    border-radius: 0;
    margin-top: 5px;
    transition: all 0.5s;
  }
  .education-course h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .carousel-caption--config {
    bottom: 17%;
  }
  .carousel-caption--config h1 {
    font-weight: normal;
    font-size: 1.5em;
  }
  .carousel-caption--config p {
    font-size: 0.8em;
    letter-spacing: 2px;
    line-height: 1.3em;
    margin-bottom: 0;
  }
  .carousel-indicators--config {
    bottom: 0;
  }
  .btn--readmore {
    border-radius: 0;
    margin-top: 5px;
    transition: all 0.5s;
  }
  /* EDUDCATION */
  /* .welcome-title h1 {
    font-size: 25px;
  }
  .welcome-title span {
      font-size: 14px;
      letter-spacing: 2px;
  }
  .welcome__title__line {
      width: 50px;
  } */
  .welcome-title p {
    padding: 0 5%;
  }

  /* EVENT & NEWS */
  .event-img img {
    margin-bottom: 10px;
  }

  .event-section__spacing {
    height: 1rem;
  }
}
